<h4>Reset Password</h4>
<hr />
<%= form_for @user, :url => password_reset_path(params[:id]), :class => "nice" do |f| %>
  <div class="form-field">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="form-field">
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  </div>
    <br />
    <%= f.submit "Change Password", :class => "button nice small yellow radius", :style => "width: 226px;" %>
<% end %>