<div class='row collapse'>
  <div class='large-12 columns header-row'>
    <h3>Monthly Statistics</h3>
  </div>
  <div class="small-12 large-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none'>
        <ul class="small-block-grid-1 large-block-grid-4 medium-block-grid-4">
          <% current_user.budgets.ordered.each do |b| %>
            <li style='border: none; box-shadow: none'>
              <%= link_to monthly_statistic_path(year: b.year.to_i, month: b.month.to_i), class: 'button blue radius expand' do %>
                <%= b.pretty_date %>
                <br />
                <%= b.year %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
