<h3 class='blue'>Monthly Statistics</h3>
<h4 class="subheader">see how you're doing</h4>
<hr />

<ul class="large-block-grid-4">
  <% current_user.budgets.ordered.each do |b| %>
    <li><%= link_to Date.new(b.year.to_i, b.month.to_i).strftime("%B %Y"), monthly_statistic_path(year: b.year.to_i, month: b.month.to_i), class: 'button blue radius expand' %></li>
  <% end %>
</ul>
