<h2 class='blue'>Monthly Statistics</h2>
<h3 class="subheader">see how you're doing</h3>

<ul class="large-block-grid-4">
  <% current_user.budgets.ordered.each do |b| %>
    <li><%= link_to Date.new(b.year.to_i, b.month.to_i).strftime("%B %Y"), monthly_statistic_path(year: b.year, month: b.month), class: 'button blue radius expand' %></li>
  <% end %>
</ul>
