<style>
h2 {
  color: #6699FF;
}
</style>
<h2>Monthly Statistics</h2>
<h3 class="subheader">see how you're doing</h3>

<div class="row">
<div class="large-6 columns">
<% current_user.budgets.ordered.each do |b| %>
  <%= link_to Date.new(2013, b.month.to_i).strftime("%B %Y"), monthly_statistic_path(year: b.year, month: b.month), class: 'button full-width' %>
  <br />
<% end %>
</div>
</div>
  <br />
