<style>
h2 {
  color: #64ad68;
}
</style>
<h2>Monthly Statistics</h2>
<h3 class="subheader">see how you're doing</h3>

<ul>
<% current_user.budgets.order(:month).each do |b| %>
  <li><%= link_to b.month, monthly_statistic_path(year: b.year, month: b.month) %></li>
<% end %>
</ul>


<ul>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
</ul>