<div class='row collapse'>
  <div class='large-12 columns header-row'>
    <h3><%= @date %> <%= link_to 'all', monthly_statistics_path, class: 'right' %></h3>    
  </div>  
  <div class="small-12 large-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none'>        
        <% if @budget %>          
          <div id="container" style='height: 390px;width: 100%'></div>
          <% content_for :ready do %>          
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Money', '%'],
                <% @budget.budget_categories.each do |c| %>
                  ["<%= c.name %>", <%= (c.total_spent/@budget.monthly_income).round(2) * 100 %>],
                <% end %>
                ]);

              var options = {      
                pieHole: 0.4                
              };    
              
              var chart = new google.visualization.PieChart(document.getElementById('container'));
              chart.draw(data, options);                
            }              
          <% end %>


        <% else %>
         
          <div id="greeting" class="text-center animated ">
            <h2>Uh-oh!</h2>
            <p>It looks like you don't have a budget for this month</p>
          </div>

        <% end %>
      </li>
    </ul>
  </div>
</div>



