<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="With Budgetal you can stay smart and organized to win with money." />
    <meta name="keywords" content="budget budgets budgetal money finance success cash plan win" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen" href='/assets/main.css'>
    <title>Budgetal</title>
  </head>
  <body>
    <div class='flash-holder'></div>
    <div id='main'></div>
    <script type='text/javascript' src='/assets/main.js'></script>
    <script src='http://localhost:8080/assets/react_bundle.js'></script>
  </body>
</html>