<div id=":h4" class="ii gt m13f793ed5cccb440 adP adO"><div id=":h3" style="overflow: hidden;"><u></u>

    
        
        
    
    
    <div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:#64ad68;width:100%!important">
      <center>
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;background-color:#64ad68;min-height:100%!important;width:100%!important">
              <tbody><tr>
                  <td align="center" valign="top" style="border-collapse:collapse">
                      
                      <table border="0" cellpadding="10" cellspacing="0" width="100%" style="background-color:#ffffff;border-bottom:1px solid #cccccc">
                          <tbody><tr>
                              <td align="center" valign="top" style="border-collapse:collapse">
                                  <table border="0" cellpadding="0" cellspacing="0" width="600">
                                      <tbody><tr>
                                          <td valign="top" style="padding-right:20px;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">Welcome to <a href="https://www.Budgetal.com" target="_blank">Budgetal.com</a></td>
                                            
                                            <td valign="top" width="200" style="border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                                              Is this email not displaying correctly?<br><a href="http://us5.campaign-archive1.com/?u=bc2a9d494fff8ae1914635487&amp;id=0ea84f9ae8&amp;e=" style="color:#505050;font-weight:normal;text-decoration:underline" target="_blank">View it in your browser</a>.
                                            </td>
                                            
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                        
                        
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                              <td align="center" valign="top" style="border-collapse:collapse">
                                  
                                    <table border="0" cellpadding="40" cellspacing="0" width="100%" style="background-color:#85e28a;border-top:1px solid #ffffff;border-bottom:0">
                                      <tbody><tr>
                                          <td align="center" valign="top" style="border-collapse:collapse">
                                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                                  <tbody><tr>
                                                      <td style="border-collapse:collapse;color:#00434e;font-family:Helvetica;font-size:15px;font-weight:bold;line-height:150%;text-align:left;vertical-align:top">
                                                    <a href="https://www.Budgetal.com" style="color:#00434e;font-weight:normal;text-decoration:underline" target="_blank"><img src="http://gallery.mailchimp.com/bc2a9d494fff8ae1914635487/images/MailHeader.png" alt="Budgetal.com" border="0" width="600" height="135"></a>
                                                        </td>
                                                    </tr>
                                                  <tr>
                                                      <td style="padding-top:20px;border-collapse:collapse;color:#00434e;font-family:Helvetica;font-size:15px;font-weight:bold;line-height:150%;text-align:left;vertical-align:top"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top" style="border-collapse:collapse">
                                  
                                  <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                      <tbody><tr>
                                          <td align="center" valign="top" style="padding-top:40px;border-collapse:collapse">
                                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                                  <tbody><tr>
                                                      <td align="center" valign="top" style="border-collapse:collapse">
                                                            <table border="0" cellpadding="20" cellspacing="0" width="600" style="background-color:#ffffff">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="padding-right:0;border-collapse:collapse">
                                                                        <div style="color:#505050;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left"><h3 style="color:#ae637a;display:block;font-family:Helvetica;font-size:23px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:center">
  <span style="color:#2f4f4f">Budgetal.com</span></h3>
Intense-Money.com is changing their name! As of March 10, 2013 we will officially be budgetal.com! We are very excited about this new change of name!</div>
                                                                        <br>
                                                                        <br>
                                                                      <table border="0" cellpadding="15" cellspacing="0" style="background-color:#f7f7f5;border:2px solid #ebebeb">
                                                                          <tbody><tr>
                                                                              <td align="center" valign="middle" style="padding-right:25px;padding-left:25px;border-collapse:collapse;color:#ab094b;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:100%;text-align:center;text-decoration:none"><a href="https://www.Budgetal.com/" style="color:#ab094b;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:100%;text-align:center;text-decoration:none" target="_blank"><span style="color:#2f4f4f">Login Now!</span></a> </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                    <td width="270" style="border-collapse:collapse">
                                                                        <a href="https://www.Budgetal.com" target="_blank"><img src="http://gallery.mailchimp.com/bc2a9d494fff8ae1914635487/images/PiggyBankHeaderMail.jpg" alt="Budgetal.com" border="0" width="270" height="270"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                      <td align="center" valign="top" style="border-collapse:collapse">
                                                          <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/beauty_coupon_footer.png" height="18" width="600" style="display:block;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none">
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
                <tr>
                  <td align="center" valign="top" style="border-collapse:collapse">
                      
                      <table border="0" cellpadding="20" cellspacing="0" width="100%">
                          <tbody><tr>
                              <td align="center" valign="top" style="border-collapse:collapse">
                                  <table border="0" cellpadding="0" cellspacing="0" width="600">
                                      <tbody><tr>
                                          <td valign="top" style="padding-right:20px;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                                                <em>Copyright &copy; <%= Date.today.year %> Budgetal.com, All rights reserved.</em>
                                                <br>
                                                <br>
                                                
                                            </td>
                                            <td valign="top" width="200" style="border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                                              
                                            </td>
                                        </tr>
                                        <tr>
                                          <td colspan="2" valign="top" style="padding-top:20px;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                                              &nbsp;
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">

</div></div></div>
