.flash-box {
  background: rgba(#000, 0.6);
  color: white;
  padding: 30px 26px;
  width: 300px;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
   -webkit-animation: fadeinout 3s linear forwards;
  animation: fadeinout 3s linear forwards;
}

.flash-holder {
  z-index:99999;
  position: fixed;
  top: 0px;
  right: 20px;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  15% { opacity: 1; }
  50% { opacity: 1; }
  85% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  15% { opacity: 1; }
  50% { opacity: 1; }
  85% { opacity: 1; }
}