.start-today {
  background: #69f;
  padding: 15px 0px;

  h4 {
    color: white;
    margin: 10px auto;
  }
  a {
  margin-bottom: 0;
  }
}

.marketing-row {
  img {
    height: 80px;
    width: 80px;
  }
}