.expanded-list::before {
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

ul.predicted-expenses {
  background: white;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-shadow: none;
  width: 10em;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  z-index: 1;
  font-size: 0.9em;

  li {
    list-style-type: none;

    a {
      border-bottom: 1px solid #CCC;
      background: white;
      padding: 0.5em;
      width: 100%;
      display: block;
      color: #333;

      &:hover, &.active {
        cursor: pointer;
        background: #69F;
        color: white;
      }
    }
  }

  &:after, &:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fffFFF;
    border-width: 14px;
    margin-left: -14px;
  }
  &:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #CCC;
    border-width: 15px;
    margin-left: -15px;
  }
}