.tabs {
  margin-bottom: 0 !important;
  margin-left: 0;

  dd, .tab-title {
    position: relative;
    margin-bottom: 0 !important;
    list-style: none;
    float: left;

    & > a {
      outline: none;
      display: block;
      background-color: #6699ff;
      border-top: 1px solid darken($primary-color,5%);
      color: white;
      padding: 1rem 2rem;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 1rem;

      &:hover {
        background: darken($primary-color, 5%);
        color: darken(#fff, 15%);
      }
    }

    &.active a {
      background: lighten($primary-color, 5%);
      color: white;
      text-decoration: underline;
    }
  }

  dd.new a {
    background: $success-color;
    &:hover {
      color: white;
      background: darken($success-color, 7%);
    }
  }

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
