<div class="row" style="padding-top: 15px;">
  <div class="large-3 medium-3 large-offset-1 medium-offset-1 columns">
    <%= f.text_field :date, placeholder: Date.today.strftime("%m/%d/%Y"), class: 'get-date', required:'' %>
  </div>
  <div class="large-4 medium-4 columns">
    <%= f.text_field :name, required:'', placeholder: '(Rent Payment)', class: 'expense-item-field' %>
  </div>
  <div class="large-2 medium-2 columns">
    <%= f.number_field :amount, value: nice_float(f.object.amount.to_f), step: 'any', min: '0.00', placeholder: "0.00", required:'' %>
  </div>
  <div class='large-2 medium-2 columns centered'><%= f.link_to_remove '×', title: 'Remove ths category', class: 'tiny alert round button' %></div>
</div>
