<div class="row collapse">
  <div class="large-12 medium-12 columns header-row">
    <h3>Error</h3>
  </div>  
  <div class="small-12 large-12 medium-12 columns">
    <ul style="margin-left: 0" class="main-budget-categories">
      <li style="border-top:none">        
        <h1 class="error-404 text-center">Category not found</h1>
      </li>
    </ul>
  </div>
</div>
