<style>
h3 {
  color: #6699FF;
}
.header {
  font-weight: bold;
  text-align: right;
}
</style>

<h3>Your Account</h3>
<h4 class="subheader">And you only</h4>
<hr />


<div class='row'>
  <div class='two columns header'>
    Email:
  </div>
  <div class='nine columns'>
    <%= current_user.email %>
    <%= link_to "Update Account Info", edit_user_path(current_user), class: 'right' %>
  </div>
</div>
<br />
<div class='row'>
  <div class='two columns header'>
    Join Date:
  </div>
  <div class='nine columns'>
    <%= current_user.created_at.strftime("%B %d, %Y") %>
    <span class="right"><%= link_to "Statistics", monthly_statistics_path %> (for geeks)</span>
  </div>
</div>

<br />
<div class='row'>
  <div class='two columns header'>
  </div>
  <div class='nine columns'>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
