<div class="footer">
  <div class="row">
    <div class="medium-4 medium-4 push-8 columns">
      <ul class="social-icons">
        <li><a target='_blank' href="http://www.twitter.com/budgetal" class="twitter"></a></li>
        <li><a href="mailto:budgetal@dillonhafer.com" class="mail"></a></li>
      </ul>
    </div>
    <div class="medium-8 medium-8 pull-4 columns">
      <a href="/" class="budgetal-logo"><%= image_tag 'logo.png' %></a>      
      <p class="copyright">© 2013–<%= Date.today.year %> Budgetal.com. All rights reserved. <%= link_to 'Privacy', privacy_path, title: 'Privacy' %></p>
    </div>
  </div>
</div>
