<style>
  
</style>
<script>
  $('#month_links div a').live('click', function() {
    $('#month_links div a').removeClass('active');
    $(this).addClass('active');
    $('#greeting').fadeOut();
    /*
    */    
    if ($('#month-view').hasClass('fadeInUpBig') ) {
      $('#month-view').removeClass('fadeInUpBig');
      $('#month-view').addClass('fadeInUpBig2');
    } else {
      $('#month-view').removeClass('fadeInUpBig2');
      $('#month-view').addClass('fadeInUpBig');  
    }
  });  

  $('#budget-month').live('change', function() {
    $(this).parent().submit();
  });


</script>
<div class="row small-block-grid-2 hide-for-small" id="month_links">
  <% @budgets.each do |b| %>
    <div class="one column"><%= link_to b.month, root_path(budget_id: b.id), data: {remote: true}, class: "#{'two' if b.month.to_i > 9}" %></div>
  <% end %>

</div>

<div class="row show-for-small">
  <div class="twelve columns">
    <br />
    <%= form_tag root_path, remote: true do %>  
      <%= select_tag :budget_id, options_for_select( @budgets.map {|b| [(Date.new( 1, b.id).strftime("%B")), b.id] }), prompt: 'Select a month', id: 'budget-month' %>    
    <% end %>
  </div>
</div>

<hr />

<div id="greeting" class="animated ">
  <h2>Home</h2>
  <p>Get started by choosing a month above</p>  
</div>

<div id="month-view" class="animated ">
  <div class="ajax-container overview"></div>
  <div class="ajax-container detail-cash-flow"></div>
</div>