<style>
  a.show-expenses {
    font-weight: bold;
    font-size: 23px;
  }
  .qn:after {
    width: 1000px;    
    margin: 0 auto;
    height: 8px;    
    margin-top: 40px;    
    background: -moz-linear-gradient(top,  rgba(158,158,158,0.65) 0%, rgba(178,178,178,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,158,158,0.65)), color-stop(100%,rgba(178,178,178,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(158,158,158,0.65) 0%,rgba(178,178,178,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(158,158,158,0.65) 0%,rgba(178,178,178,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(158,158,158,0.65) 0%,rgba(178,178,178,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(158,158,158,0.65) 0%,rgba(178,178,178,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69e9e9e', endColorstr='#00b2b2b2',GradientType=0 ); /* IE6-9 */
  }
  .qn img {
    transition-property: opacity;
    transition-duration: .25s;
  }
  .qn img:hover {
    opacity: .4;
  }
  input[type="button"] {
    left: 15px;top: 110px;display: block;
  }
  #greeting {
    margin-top: 70px;
    color: #64ad68;
    margin-top: 50px;
    text-align: center;
  }  
  #greeting h2 {    
    text-align: center;
    color: #64ad68;
  }
  #month_links {
    
  }
  .qn_fix {
    position: fixed;
    top: 0;
    margin-bottom: 10px !important;
  }
  .qn_fix_body {
    margin-top: 70px !important;
  }
  .qn {
    z-index: 99999;    
    background: white;
    border-bottom: 2px solid #64ad68;
    height: 50px !important;
    padding-top: 10px !important;
    width: 1000px !important;
  }
  .qn img {
    margin: 0 12px;
  }
  ul.accordion > li.active .title::after {border-color: #FAFAFA;}
  ul.accordion > li.active {
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  }
  ul.accordion > li.active .title:hover {cursor: default;}
  ul.accordion {box-shadow: 0 3px 6px #DDD;}

  input[type="submit"]{position: absolute;left: 100%;top: 4px;display: none;z-index: 999;}
  a.cancel {position: absolute;left: 180%;top: 4px;display: none;z-index: 999;}

  .new_budget_item_expense div input[type="submit"]{left:0;position: auto;top: 4px;display: none;z-index: 999;}
  .new_budget_item_expense div a.cancel {left:30%;position: auto;top: 4px;display: none;z-index: 999;}

  .bi-name {display: inline-block;width: 100%;padding: 0 0 15px;}
  .ajax-container.hide {background: white; padding: 15px 15px; border-top: 1px dashed #CCC; border-bottom: 1px solid #CCC;margin-bottom: 16px !important; display: none;
    background: #F6F6F6; 
  }
  
  .panel {
    background: #F6F6F6; 
  }
    
  .expense-item {border-bottom: 1px dashed #CCC; padding: 15px 5px;}

  .blue {color: #69F;}
  .red {color: red;}
  .green {color: green;}
  img {height: 27px; width: 27px;}
  #footermain img {height: 16px; width: 16px;}
  .general.foundicon-mail {position: relative; left: 20px; top: -2px; vertical-align: middle;}
  .bi-name-input .general.foundicon-mail {position: relative; left: 40px; top: -20px; vertical-align: middle;}  
  input[type="checkbox"] {position: relative; left: 15px; top: 0px; vertical-align: middle;}  
</style>

<script>
$(document).ready(function() {  

  $(window).scroll(function() {
    if (window.scrollY >= 60) {
      $('.qn').addClass('qn_fix');
      $('#month_links').addClass('qn_fix_body');
    } else {
      $('.qn').removeClass('qn_fix');
      $('#month_links').removeClass('qn_fix_body');
    }
  });

  $('.get-date').each( function() {
    if ($(this).type == "text") {
      $(this).addClass('datepicker');
    }
  });

  $('#month_links div a').live('click', function() {
    $('.qn').slideDown('fast');
    $('#month_links div a').removeClass('active');
    $(this).addClass('active');
    $('#greeting').fadeOut();
    /*
    */
    if ($('#month-view').hasClass('fadeInUpBig') ) {
      $('#month-view').removeClass('fadeInUpBig');
      $('#month-view').addClass('fadeInUpBig2');
    } else {
      $('#month-view').removeClass('fadeInUpBig2');
      $('#month-view').addClass('fadeInUpBig');
    }
  });

  $('#budget-month').live('change', function() {
    $(this).parent().submit();
  });

  $('input[type="text"]').live('focus', function() {
    $(this).parent().parent().parent().find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('a.cancel').fadeIn("fast");
    $(this).parent().parent().parent().find('a.delete-bi').fadeOut("fast");
  });

  $('input[type="number"]').live('focus', function() {
    $(this).parent().parent().parent().find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('a.cancel').fadeIn("fast");
    $(this).parent().parent().parent().find('a.delete-bi').fadeOut("fast");
  })

  $('a.cancel').live('click', function() {
    $(this).prev('input[type="submit"]').fadeOut("fast");
    $(this).fadeOut("fast");
    $(this).parent().parent().find('.bi-name').show();
    $(this).parent().parent().find('.bi-name-input').hide();
    $(this).parent().parent().parent().parent().find('.bi-name').show();
    $(this).parent().parent().parent().parent().find('.bi-name-input').hide();
    $(this).parent().parent().find('a.delete-bi').fadeIn("fast");
  })

  $(".add-budget-cancel").live('click', function() {
    $(this).parent().parent().parent().parent().parent().fadeOut();
  });

  $(".add-budget-expense-cancel").live('click', function() {
    $(this).parent().parent().parent().fadeOut();
  });

  $(".edit_budget_item div span.bi-name").live('hover', function() {
    $(this).parent().parent().find('.bi-name').hide();
    $(this).parent().parent().find('.show-expenses').hide();
    $(this).parent().parent().find('.show-expenses').next('.foundicon-mail').hide();    
    $(this).parent().parent().find('.bi-name-input').show();
  });
  $(".edit_budget_item div span.bi-name").live("touchstart", function() {
    $(this).parent().parent().find('.bi-name').hide();
    $(this).parent().parent().find('.bi-name-input').show();    
  });
  $(".edit_budget_item").live('mouseleave', function() {
    if ($(this).find('.bi-name-input').find('input[type="text"]').is(':focus')) {
    } else {
      $(this).find('.bi-name').show();
      $(this).find('.show-expenses').show();
      $(this).find('.show-expenses').next('.foundicon-mail').show();
      $(this).find('.bi-name-input').hide();
    }
  });

  $(".add-budget-link").live('click', function() {
    $(this).parent().parent().parent().find('div.new-budget-item').fadeIn();
    $(this).parent().parent().parent().find('div.new-budget-item').find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('div.new-budget-item').find('a.cancel').fadeIn("fast");
  });

  $(".add-expense-link").live('click', function() {
    $(this).parent().parent().parent().find('div.new-expense').fadeIn();
    $(this).parent().parent().parent().find('div.new-expense').find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('div.new-expense').find('a.cancel').fadeIn("fast");
  });

  $(".show-expenses").live('click', function() {    
    $(this).parent().parent().parent().parent().next('.ajax-container.hide').fadeToggle("fast");
    if ($(this).text() == '+') {
      $(this).text("-");
      $(this).css('color', 'red')
    } else {
      $(this).text("+");
      $(this).css('color', '#64ad68')
    }
  });

  $(document).ready(function(){
  $(".quickNavLink").click(function(e){
    e.preventDefault();
 
    var id     = $(this).attr("href");
    var offset = $(id).offset();
 
    $("html, body").animate({
      scrollTop: offset.top-135
    }, 850);
  });
});
});
</script>
<div class="row small-block-grid-2 hide-for-small qn">
  <div class="one column"><a href="#Charity" class="quickNavLink" title="Charity"><img src="/assets/Charity.png" /></a></div>
  <div class="one column"><a href="#Saving" class="quickNavLink" title="Saving"><img src="/assets/Saving.png" /></a></div>
  <div class="one column"><a href="#Housing" class="quickNavLink" title="Housing"><img src="/assets/Housing.png" /></a></div>
  <div class="one column"><a href="#Utilities" class="quickNavLink" title="Utilities"><img src="/assets/Utilities.png" /></a></div>
  <div class="one column"><a href="#Food" class="quickNavLink" title="Food"><img src="/assets/Food.png" /></a></div>
  <div class="one column"><a href="#Clothing" class="quickNavLink" title="Clothing"><img src="/assets/Clothing.png" /></a></div>
  <div class="one column"><a href="#Transportation" class="quickNavLink" title="Transportation"><img src="/assets/Transportation.png" /></a></div>
  <div class="one column"><a href="#Medical-Health" class="quickNavLink" title="Health"><img src="/assets/Medical/Health.png" /></a></div>
  <div class="one column"><a href="#Insurance" class="quickNavLink" title="Insurance"><img src="/assets/Insurance.png" /></a></div>
  <div class="one column"><a href="#Personal" class="quickNavLink" title="Personal"><img src="/assets/Personal.png" /></a></div>
  <div class="one column"><a href="#Recreation" class="quickNavLink" title="Recreation"><img src="/assets/Recreation.png" /></a></div>
  <div class="one column"><a href="#Debts" class="quickNavLink" title="Debts"><img src="/assets/Debts.png" /></a></div>
</div>

<div class="row small-block-grid-2 hide-for-small" id="month_links">
  <% @budgets.each do |b| %>
    <div class="one column"><%= link_to b.month, my_budgets_path(budget_id: b.id), data: {remote: true}, class: "#{'two' if b.month.to_i > 9}" %><br /><%= find_short_month b.month.to_i %></div>
  <% end %>

</div>

<div class="row show-for-small">
  <div class="twelve columns">
    <br />
    <%= form_tag my_budgets_path, method: 'get', remote: true do %>
      <%= select_tag :budget_id, options_for_select( @budgets.map {|b| [(Date.new( 1, b.month.to_i).strftime("%B")), b.id] }), prompt: 'Select a month', id: 'budget-month' %>
    <% end %>
  </div>
</div>

<hr style="border:none;border-bottom: 2px solid #64ad68;" />

<div id="greeting" class="animated ">
  <h2>Welcome!</h2>
  <p>Get started by choosing a month above</p>
</div>

<div id="month-view" class="animated ">
  <div class="ajax-container overview"></div>
  <div class="ajax-container detail-cash-flow"></div>
</div>