<style>
  ul.accordion > li.active .title::after {border-color: #FAFAFA;}
  ul.accordion > li.active .title, ul.accordion > li.active .content {background: #FAFAFA;}
  ul.accordion > li.active .title:hover {cursor: default;}
  ul.accordion {box-shadow: 0 3px 6px #EEE;}

  input[type="submit"]{position: absolute;left: 100%;top: 4px;display: none;z-index: 999;}
  a.cancel {position: absolute;left: 150%;top: 4px;display: none;z-index: 999;}  

  .new_budget_item_expense div input[type="submit"]{left:0;position: auto;top: 4px;display: none;z-index: 999;}
  .new_budget_item_expense div a.cancel {left:30%;position: auto;top: 4px;display: none;z-index: 999;}  

  .bi-name {display: inline-block;width: 100%;padding: 0 0 15px;}

  .ajax-container.hide {background: white; padding: 15px 15px; border-bottom: 1px solid #CCC;margin-bottom: 16px !important; display: none;}
  .expense-item {border-bottom: 1px dashed #CCC; padding: 15px 5px;}
</style>

<script>
$(document).ready(function() {  
  $('#month_links div a').live('click', function() {
    $('#month_links div a').removeClass('active');
    $(this).addClass('active');
    $('#greeting').fadeOut();
    /*
    */    
    if ($('#month-view').hasClass('fadeInUpBig') ) {
      $('#month-view').removeClass('fadeInUpBig');
      $('#month-view').addClass('fadeInUpBig2');
    } else {
      $('#month-view').removeClass('fadeInUpBig2');
      $('#month-view').addClass('fadeInUpBig');  
    }
  });  

  $('#budget-month').live('change', function() {
    $(this).parent().submit();
  });

  $('input[type="text"]').live('focus', function() {    
    $(this).parent().parent().parent().find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('a.cancel').fadeIn("fast");
  })

  $('a.cancel').live('click', function() {    
    $(this).prev('input[type="submit"]').fadeOut("fast");
    $(this).fadeOut("fast");
  })

  $(".add-budget-cancel").live('click', function() {
    $(this).parent().parent().parent().parent().parent().fadeOut();
  });

  $(".add-budget-expense-cancel").live('click', function() {
    $(this).parent().parent().parent().fadeOut();
  });

  $(".edit_budget_item div span.bi-name").live('hover', function() {
    $(this).hide();
    $(this).next('.bi-name-input').show();
  })
  $(".edit_budget_item").live('mouseleave', function() {
    if ($(this).find('.bi-name-input').first().find('input').is(':focus') || $(this).find('.bi-name-input').last().find('input').is(':focus')) {
    } else {
      $(this).find('.bi-name').show();
      $(this).find('.bi-name-input').hide();
    }
  });

  $(".add-budget-link").live('click', function() {
    $(this).parent().parent().parent().find('div.new-budget-item').fadeIn();
    $(this).parent().parent().parent().find('div.new-budget-item').find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('div.new-budget-item').find('a.cancel').fadeIn("fast");
  });

  $(".add-expense-link").live('click', function() {
    $(this).parent().parent().parent().find('div.new-expense').fadeIn();
    $(this).parent().parent().parent().find('div.new-expense').find('input[type="submit"]').fadeIn("fast");
    $(this).parent().parent().parent().find('div.new-expense').find('a.cancel').fadeIn("fast");
  });

  $(".show-expenses").live('click', function() {
    $(this).parent().parent().parent().next('.ajax-container.hide').slideToggle("fast");
  });

  $('input').live('focus', function() {
    $(this).closest('form').validate();
  });
});
</script>
<div class="row small-block-grid-2 hide-for-small" id="month_links">
  <% @budgets.each do |b| %>
    <div class="one column"><%= link_to b.month, root_path(budget_id: b.id), data: {remote: true}, class: "#{'two' if b.month.to_i > 9}" %><br /><%= find_short_month b.id %></div>
  <% end %>

</div>

<div class="row show-for-small">
  <div class="twelve columns">
    <br />
    <%= form_tag root_path, remote: true do %>  
      <%= select_tag :budget_id, options_for_select( @budgets.map {|b| [(Date.new( 1, b.id).strftime("%B")), b.id] }), prompt: 'Select a month', id: 'budget-month' %>    
    <% end %>
  </div>
</div>

<hr />

<div id="greeting" class="animated ">
  <h2>Home</h2>
  <p>Get started by choosing a month above</p>
</div>

<div id="month-view" class="animated ">
  <div class="ajax-container overview"></div>
  <div class="ajax-container detail-cash-flow"></div>
</div>