<h3>About Intense-Money.com</h3>
<h5 class="subheader">Who we are and what we're all about</h5>
<hr />
<h4>Intense-Money.com</h4>
<p>&quot;<i>A Penny Saved is a Penny Earned.</i>&quot; &mdash;Benjamin Franklin </p>
<p>Intense-Money.com is committed to providing intense budgeting software to individuals, families, and communities across the world. Our team is devoted to helping people develop a personal financial plan to change their behavior when it comes to money. Getting out of debt changes communities, and gives hope to our nation.</p>
<p>We are using software and the web to help people manage their finances.</p>
<p>It's time to change your life. We just want to help.</p>
<h4>Intense Budgeting Software</h4>
<p>Intense-Money.com is currently helping 7 million users in over 200 cities in the U.S. With nearly 80% of Americans in debt, now is the time to get intense about it!</p>

<%= render partial: 'sign_in' %>