<h3>Welcome to Intense-Money.com</h3>
<h4 class="subheader">Your path to personal budgeting just became easier!</h4>
<hr />
<p>Get started soon!</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= render partial: 'sign_in' %>