<style>
body {background-image: url(/assets/PiggyBankHeader.jpg) !important; background-position: 0, 1000px !important;}
#contentmain {background: transparent;border-top: none; }
</style>
 <!-- First Band (Image) -->
 
  <div class="row">
    <div class="large-12 columns">
  <br /> 
  <br /> 
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->
 
  <div class="row">
    <div class="four columns">
      <img src="/assets/header.png">
    </div>
    <div class="eight columns">      
      <div class="row">
        <div class="large-6 columns">
          
        </div>
        <div class="large-6 columns">
          
        </div>
      </div>
    </div>
  </div>
 
 
  <!-- Third Band (Image Right with Text) -->
 
  <div class="row">
    <div class="eight columns">
      <h4>Welcome to Intense-Money.com</h4>
 
      <p>&quot;<i>A Penny Saved is a Penny Earned.</i>&quot; &mdash;Benjamin Franklin </p>
      <p>Intense-Money.com is committed to providing intense budgeting software to individuals, families, and communities across the world. Our team is devoted to helping people develop a personal financial plan to change their behavior when it comes to money. Getting out of debt changes communities, and gives hope to our nation.</p>
 
    </div>
    <div class="four columns">
      <img sc="/assets/pl400.gif">
    </div>
  </div>
 

<br />
<br />
<br />
<%= render partial: 'sign_in' %>