<!DOCTYPE html>
  <head>
    <title>Budgetal</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen" href='<%= webpack_filename %>.css'>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="description" content="With Budgetal you can stay smart and organized to win with money." />
    <meta name="keywords" content="budget budgets budgetal money finance success cash plan win" />
    <%= render template: 'welcome/tracking.html' if Rails.env.production? %>
  </head>
  <body>
    <div class='flash-holder'></div>
    <div id='main'></div>
    <script type='text/javascript' src='<%= webpack_filename %>.js'></script>
    <% if ENV.fetch('hot', false) %>
      <script src='http://localhost:8080/assets/react_bundle.js'></script>
    <% end %>
  </body>
</html>
