<% content_for :styles do %>
  body {
    background-image: url(<%= asset_path 'PiggyBankHeader.jpg' %>) !important;
    background-position: 0, 1000px !important;
  }
  #contentmain {
    background: transparent;
    border-top: none; 
  }
  h1 {
    text-align: center;
    margin: 40px;
    font-size: 55px;
    text-shadow: 0 -1px 1px #ddd;
    color: #6699FF;
  }
<% end %>
</style>

<h1>Welcome to Freedom</h1>
<div class="row">
  <div class="large-12 columns panel">
    <p><h2 class='subheader centered'>Coming Soon!</h2></p> 
  </div>    
</div> 
