<style>
body {background-image: url(/assets/PiggyBankHeader.jpg) !important; background-position: 0, 1000px !important;}
#contentmain {background: transparent;border-top: none; }
</style>
  
  <h1 style="text-align:center;margin: 40px;font-size: 55px;text-shadow: 0 -1px 1px #ddd;color: #6699FF;">Welcome to Freedom</h1>


<br />
<br />
<br />
<br />
  <div class="row">
    <div class="twelve columns">
 
      <p>&quot;<i>A Penny Saved is a Penny Earned.</i>&quot; &mdash;Benjamin Franklin </p>
      <p>Intense-Money.com is committed to providing intense budgeting software to individuals, families, and communities across the world. Our team is devoted to helping people develop a personal financial plan to change their behavior when it comes to money. Getting out of debt changes communities, and gives hope to our nation.</p>
 
    </div>    
  </div> 

<br />
<br />
<br />
<%= render partial: 'sign_in' %>
