<p>Hello <%= @resource.first_name %>!</p>

<p>Someone has requested a link to change your password.</p>
<p>If you are on the web, you can do this through the link below.</p>

<p><%= link_to 'Change Password on Web', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p>If you are on your mobile, you can do this through the link below.</p>

<p><%= link_to 'Change Password on Mobile', "budgetal://reset-password?reset_password_token=#{@resource.reset_password_token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access a link above and create a new one.</p>
