<div class='row collapse'>
  <div class='large-12 columns header-row'>
    <h3>Annual Budget for <%= @annual_budget.year %> <%= link_to_i 'calendar', '', '#', class: 'change-anual-budget right black-color' %></h3>
  </div>
  <div class="small-12 large-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none'>
        <div id="greeting" class="text-center animated ">
          <h2>Uh-oh!</h2>
          <p>It looks like you don't have a budget for this month</p>
        </div>
      </li>
    </ul>
  </div>
</div>
