<div class='row'>
  <div class='large-5 large-centered columns'>
    <div class='header-row'>
      <h4>Sign in / Join</h4>
    </div>
    <div class='body-row'>
      <%= react_component 'Sessions' %>
    </div>
  </div>
</div>