.account-settings {
  img {
    cursor: pointer;
  }
}

.changePasswordContainer {
  padding-top: 30px;
  padding-bottom: 200px;
}

@media only screen and (min-width: 40.063em) {
  .account-settings {
    button.button {
      margin-top: 20px;
    }
  }
}
