@import 'mixins';
@import 'main_vars';
@import 'label';
@import 'top-bar';
@import 'footer';
@import 'buttons';
@import 'pricing-table';
@import 'block-grid';
@import 'forms';
@import './vendor/foundation-icons';
@import './vendor/jquery.minical.sass';
@import 'animations';
@import 'tooltip';
@import 'predicted-expense-list';
@import 'overlay';
@import 'side-bar';
@import 'table-rows';
@import 'tabs';
@import 'progress';
@import 'cash-flow-plans';
@import 'annual-budgets';
@import 'allocation-plans';
@import 'home';
@import 'flash-box';
@import './vendor/react-calendar';
@import 'table';
@import 'account-settings';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans-400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-700.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(/fonts/OpenSans-800.woff) format('woff');
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

html, body {
  font-size: 100%;
  height: 100% !important;
  background: #e6e7eb;
}

a {
  text-decoration: none;
  color: $primary-color;
  line-height: inherit;
  cursor: pointer;

  &:active {
    outline: none;
  }

  &:hover:not(.button) {
    color: darken($primary-color, 15%);
  }

  &:hover:not(.button).alert-color, &:hover:not(.button).red {
    color: darken($alert-color, 15%);
  }
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

ul, ol, dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.4375rem;
}

h3 {
  font-size: 1.6875rem;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

a {
  color: $primary-color;
  @include vendor(transition, all 0.15s ease-in-out);
}

small {
  font-size: 60%;
  line-height: inherit;
}

.hide {display: none !important;}

.header-row {
  margin-top: 1rem;

  & > h1, & > h2, & > h3, & > h4 {
    background: #f6f6f9;
    padding: 15px 20px;
    color: black !important;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    @include shadow;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.shadow {
  @include shadow;
}

.alert-color, .red { color: $alert-color;   }
.blue-color, .blue { color: $primary-color; }
.success-color     { color: $success-color; }
.black-color       { color: #666; }

label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.main-budget-categories {
  background: white;
}

ul.main-budget-categories li.no-container {
  border-top: none;
  box-shadow: none;

  li {
    border-top: none;
  }
}

.body-row {
  background: white;
  display: block;
  padding: 20px;
  @include shadow;
  p { margin-top: 20px; }
}

ul.main-budget-categories {
  margin-left: 0;
  & > li {
    list-style-type: none;
    padding: 20px;
    @include shadow;
  }

  p { margin-top: 20px; }
}

.columns.category-list {
  padding-left: 0;
}

fieldset[disabled] {
  border: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 40.063em) {
  h5 {
    font-size: 1.125rem;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}



.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.home-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content {
  padding-top: 2.75rem;
  background: white;
  padding-bottom: 20px;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 1rem;
}
