@import 'main_vars';
@import 'mixins';

button, .button {
  border-style: solid;
  width: 100%;
  border-width: 0;
  cursor: pointer;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: $primary-color;
  border-color: #1f69ff;
  color: white;
  @include vendor(transition, background-color 300ms ease-out);

  &:hover, &:focus {
    background-color: #1f69ff;
  }

  &.disabled:hover, &.disabled:focus {
    background-color: $primary-color;
  }

  &.radius {
    border-radius: 3px;
  }

  &.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
  }

  &.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
  }

  &.alert {
    background-color: $alert-color;
    border-color: #c12e2c;

    &:hover, &:focus {
      background-color: #c12e2c;
    }

    &.disabled:hover, &.disabled:focus {
      background-color: $alert-color;
    }
  }

  &.dark-blue {
    background: #6699CC;

    &:hover, &:focus {
      background-color: #407fbf;
    }

    &.disabled:hover, &.disabled:focus {
      background-color: #6699CC;
    }
  }

  &.secondary {
    background-color: #eacb5a;
    border-color: #e3b921;
    color: white;

    &:hover, &:focus {
      background-color: #e3b921;
    }

    &.disabled:hover, &.disabled:focus {
      background-color: #eacb5a;
    }
  }

  &.success {
    background-color: $success-color;
    border-color: $success-color;

    &:hover, &:focus {
      background-color: #71882c;
    }

    &.disabled:hover, &.disabled:focus {
      background-color: $success-color;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.add-nested-item {
  margin-left: 20px !important;
  margin-top: 25px !important;
}

.button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

td {
  button, .button {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
    width: auto;
  }
}
