.budget-section:after {
  clear: both;
  content: " ";
  display: table;
}

.overviews ul {
  margin-left: 0;
  li {
    list-style-type: none;
    padding: 20px;
  }
}
.overviews {
  display: flex;
  & > div {
    background: white;
    @include shadow;
    flex: 1;
    margin-bottom: 2em;
  }

  .header-row {
    margin-top: 0;
    box-shadow: none;
     h3 { box-shadow: none; }
  }
}
.button.add-expense-link { margin-top: 15px; }

.budget-item-labels div {
  margin-bottom: 0.7em;
  text-decoration: underline;
}

.expense-list div.row {
  border-bottom: 1px solid #CCC;
  background: #f6f6f6;
  padding-top: 15px;

  .button-group {
    display: flex;

    li {
      flex: 1;
    }
  }

  form > .row {
    border-bottom: 1px dashed #CCC;
  }

  form:last-child > .row {
    border-bottom: none;
  }
}
div.row.expense-header-row {
  border-bottom: none;
  label {text-decoration: underline;}
  & > div {
    text-align: center;
  }
}

.no-expenses {
  background: #f6f6f6;
  margin-bottom: 0;
  text-align: center;
  padding: 2em 0 0em;
}

.add-expense-link-row {
  border-bottom: 1px dashed #CCC;
  background: #f6f6f6;
  padding-left: 1em;
}

.button.add-item-link {
  margin-top: 1.25rem;
}

.budget-item-name {
  display: flex;
  align-items: center;
  div {width: 100%;}
  div input { margin-bottom: 0; }
}

a.show-expenses {
  font-weight: bold;
  font-size: 20px;
  margin-right: 0.5em;

  i::before {
    font-size: 26px;
  }
}
