.footer {
  .budgetal-logo img {
    height: 50px;
  }

  .copyright {
    color: #666;
    font-size: 0.85em;
  }

  ul.footer-links {
    margin: 0px;
    display: inline-block;
    padding-bottom: 0px;
    color: #666;

    li {
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.85rem;
      a {color: #666;}
    }
  }

  ul.social-icons {
    display: block;
    float: right;
    margin-bottom: 8px;
    margin-top: 20px;

    li {
      list-style: none outside none;
      display: block;
      float: left;
      margin-left: 10px;

      a {
        display: block;
        height: 50px;
        width: 50px;
        background: url(../../assets/images/social.png) no-repeat scroll center 0px transparent;
        &.twitter {
          background-position: center 0px;
        }
        &.mail {
          background-position: center -400px;
        }
      }
    }
  }
}
