@import 'main_vars';

.label {
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: auto;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.6875rem;
  background-color: $primary-color;
  color: #333333;

  &.alert {
    background-color: $alert-color;
    color: white;
  }

  &.success {
    background-color: $success-color;
    color: white;
  }

  &.radius {
    border-radius: 3px;
  }
}