table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  caption {
    padding: 1.25em;
    text-decoration: underline;
  }
}

thead, tbody, tfoot {
  border: 1px solid #f1f1f1;
  background-color: #fefefe;
}

thead, tfoot {
  background: #f8f8f8;
  color: #0a0a0a;
}

tbody th, tbody td {
  padding: 0.5rem 0.625rem 0.625rem;
}

thead tr, tfoot tr {
  background: transparent;
}

thead th, thead td, tfoot th, tfoot td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}