.progress {
  background-color: #f6f6f6;
  height: 1.5625rem;
  border: 1px solid white;
  padding: 0.125rem;
  margin-bottom: 0.625rem;

  .meter {
    background: #6699ff;
    height: 100%;
    display: block;

    &.blue-meter {
      background: $primary-color;
    }

    &.red-meter {
      background: $alert-color;
    }
  }

  &.radius {
    border-radius: 3px;

    .meter {
      border-radius: 2px;
    }
  }
}

