/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require animate
 *= require jquery.ui.all
 *= require joyride-2.0.3
 */

body, html {background: url(/assets/bg.gif) !important; height: 100% !important;}

nav.top-bar {
  background-image: url(web_sprite_bgs.gif);
}
#contentmain {background: url(/assets/bg.gif);border-top: none; min-height: 80%;height: auto !important;  }


@-webkit-keyframes fadeInUpBig2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUpBig2 {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUpBig2 {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUpBig2 {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpBig2 {
  -webkit-animation-name: fadeInUpBig2;
  -moz-animation-name: fadeInUpBig2;
  -o-animation-name: fadeInUpBig2;
  animation-name: fadeInUpBig2;
}

