// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h6.p-budgeted {
  background: #6699FF;
  padding: 12px 6px;
  width: 50px;
}

h6.p-recommended {
  text-align:center;
  border: 1px solid #6699FF;
  padding: 6px;
  width: 50px;
  color: #6699FF;
  font-size: 10px;
  border-left: 1px solid #DDD
}
#new_budget {
  
}
