<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="With Budgetal you can stay smart and organized with your money." />
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png">
    <meta name="apple-mobile-web-app-title" content="Budgetal">
    <meta name="application-name" content="Budgetal">
    <link rel="stylesheet" media="screen" href='/main.css'>
    <title>(Dev) Budgetal</title>
  </head>
  <body>
    <div class='flash-holder'></div>
    <div id='main'></div>

    <script type="text/javascript">
      function downloadJSAtOnload() {
        var el = document.createElement("script");
        el.src="/main.js"
        document.body.appendChild(el);
      }

      if (window.addEventListener) {
        window.addEventListener("load", downloadJSAtOnload, false);
      } else if (window.attachEvent) {
        window.attachEvent("onload", downloadJSAtOnload);
      } else {
        window.onload = downloadJSAtOnload;
      }
    </script>
  </body>
</html>