<% if request.xhr? %>
    <% if Rails.env.production? %>
      <%= render template: 'shared/tracking.html' %>
    <% end %>

  <%= yield %>
  <a class="close-reveal-modal">&#215;</a>
<% else %>
  <div class='large-6 large-offset-3 columns text-center'><a href='/'><%= image_tag 'logo.png', style: 'height: 75px' %></a></div>
  <%= render template: "layouts/monthly_statistics.html.erb" %>
<% end %>

<style>
  nav {display: none}
</style>